



@model WP_OutputCommunicationVMWindow

<form id="addform">

    <input hidden asp-for="Employee_IdOCVMMain" class="k-textbox" style="width:100%" value="@Model.Employee_IdOCVMMain">
    <input hidden asp-for="Transaction_IdOCVMMain" class="k-textbox" style="width:100%" value="@Model.Transaction_IdOCVMMain">
    <input hidden asp-for="FiscalYear_IdOCVMMain" class="k-textbox" style="width:100%" value="@Model.FiscalYear_IdOCVMMain">
    <input hidden asp-for="Period_IdOCVMMain" class="k-textbox" style="width:100%" value="@Model.Period_IdOCVMMain">
    <input hidden asp-for="FisPeriodOCVMMain" class="k-textbox" style="width:100%" value="@Model.FisPeriodOCVMMain">
    <input hidden asp-for="Project_IdOCVMMain" class="k-textbox" style="width:100%" value="@Model.Project_IdOCVMMain">
    <input hidden asp-for="WPMainRecord_idOCVMMain" class="k-textbox" style="width:100%" value="@Model.WPMainRecord_idOCVMMain">
    
    <div class="form-body" style="padding: 1.25rem;">
         <h6 style="color:#807878"> Select Output </h6>
            @(Html.Kendo().DropDownListFor(model => model.WPOutput_IdOCVMMain)
                // .Name("Department_Id")
                .HtmlAttributes(new { style = "width:100%", id = "WPOutput_IdOCVMMain" })
                .OptionLabel("Select...")
                .DataTextField("DropDown_Name")
                .DataValueField("DropDown_StringId")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                            read.Action("GetAllOutputsForMainRecord", "Admin", new {mainrecid=Model.WPMainRecord_idOCVMMain});
                        
                    })
                    .ServerFiltering(true);
                })
            
                //.SelectedIndex(Model.Department_Id)
            )
            <br />
            <br />
           
            <h6 style="color:#807878">Brief Communication Description</h6>
            @Html.TextAreaFor(model => model.WPComms_DescriptionOCVMMain, new { @class = "k-textbox", style = "width: 100%;", value="", rows="3"})
            <br />
            <br />

            <div class="div1">
                        <h6 style="color:#807878">Communication Channel</h6>
                        @(Html.Kendo().DropDownListFor(model => model.WPCommsChannel_IdOCVMMain)
                            // .Name("Department_Id")
                            .HtmlAttributes(new { style = "width:90%", id = "WPCommsChannel_IdOCVMMain" })
                            .OptionLabel("Select...")
                            .DataTextField("DropDown_Name")
                            .DataValueField("DropDown_IntId")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                        read.Action("GetAllTransCommunicationChannels", "Admin");
                                    
                                })
                                .ServerFiltering(true);
                            })
                            
                        
                            //.SelectedIndex(Model.Department_Id)
                        )
                        <br />
                        <br />
                </div>

                <div class="div2">
                    <h6 style="color:#807878"><span id="costinfo">Communication Cost (in USD)</span></h6>
                        @Html.TextBoxFor(model => model.WPCommsCostOCVMMain, new { @class = "k-textbox",  style = "width: 100%;", value=""})
        
                        <br />
                        <br />
                </div>
  



            <div class="div1">
                <h6 style="color:#807878">Actual Start Date</h6>
                @(Html.Kendo().DatePickerFor(model => model.WPCommsStartDateOCVMMain)
                .Value(Model.PeriodStartDateOCVMMain)
                //.HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
                <br />
                <br />
            </div>
            <div class="div2">
                <h6 style="color:#807878">Actual End Date</h6>
                @(Html.Kendo().DatePickerFor(model => model.WPCommsEndDateOCVMMain)
                .Value(Model.PeriodEndDateOCVMMain)
                //.HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
                <br />
                <br />
            </div>


   
      

                <div><h6 style="color:#807878">Additional Notes</h6></div>
                @Html.TextAreaFor(model => model.WPComms_AdditionalNotesOCVMMain, new { @class = "k-textbox", style = "width: 100%;", value="", rows="3"})
                <br />
                <br />

                <div id="targetDivStaffa_act" class="rssedStaffa_act">
                </div>
                <br />

                <div style="align-content:center; text-align:center">
                    <a class="k-button" id="btnSubmita_act">
                        <span class="k-icon k-i-save"></span> Save
                    </a>

                    <a class="k-button" id="btnCloseStaffa_act">
                        <span class="k-icon k-i-cancel"></span> Close
                    </a>
                </div>


    </div>





</form>







<script>
    
    $("#btnCloseStaffa_act").click(function () {
        $(".k-window-content").each(function () {
            $(this).data("kendoWindow").close();
        });
    });






$("#btnSubmita_act").click(function (e) {

    var gridid = $("#Transaction_IdOCVMMain").val(); 

    var projid = $("#Project_IdOCVMMain").val();  
    var fyear = $("#FiscalYear_IdOCVMMain").val();  
    var fperiod = $("#Period_IdOCVMMain").val();  
    var periodtxt = $("#FisPeriodOCVMMain").val();  

    var commsdesc = $("#WPComms_DescriptionOCVMMain").val();  
    var commschannel_id = $("#WPCommsChannel_IdOCVMMain").val(); 
    var coms_cost = $("#WPCommsCostOCVMMain").val();  
    var startDate= $("#WPCommsStartDateOCVMMain").data("kendoDatePicker");
    var endDate= $("#WPCommsEndDateOCVMMain").data("kendoDatePicker");
    var comms_additionalnotes = $("#WPComms_AdditionalNotesOCVMMain").val();  
    var outputident = $("#WPOutput_IdOCVMMain").val();  


    


    if(outputident === "" && typeof outputident === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Selection : Please select output. </span>').appendTo('.rssedStaffa_act');
    }
    else if(commschannel_id === "" && typeof commschannel_id === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Selection : Please select communication channel. </span>').appendTo('.rssedStaffa_act');
    }
    else if(coms_cost === "" && typeof coms_cost === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Entry : Please provide communication cost. </span>').appendTo('.rssedStaffa_act');
    }
    else if(isNaN(coms_cost))
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">Communication cost should be a number. </span>').appendTo('.rssedStaffa_act');
    }
    else if(startDate.value()>endDate.value())
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">End Date should be a future date</span>').appendTo('.rssedStaffa_act');
    }
    else
    {
        //Work on this...
        $.ajax({
                type: "POST",
                url: '/Admin/AddOutputCommunicationGanttNew',     //your action
                data: $('#addform').serialize(),   //your form name.it takes all the values of model
                dataType: 'json',
                success: function (result) {
                    var response = result.rtnmsg;
                    var remainfunds = result.remainfunds;


                    if (response == "success") {
                                $('#targetDivStaffa_act').empty();
                                $('<span class="alert alert-success" style="display: block;font-size: 100%">Success : Communication Saved Successfully. </span>').appendTo('.rssedStaffa_act');
                                
                                
                                //Refresh Gantt Chart
                                var gantt = $("#gantt").data("kendoGantt");
                                gantt.dataSource.read();
                                gantt.refresh();



                    }
                    else if (response == "insufficientfunds") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Insufficient funds available for this output. Remaining Funds: $'+ remainfunds+' </span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else if (response == "pkerror") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Unable to Save. Communication Already Exist. </span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else if (response == "createerror") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Error: Unable to save communication</span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else if (response == "doesnotexist") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">No Record: Communication does not exist</span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Unknown Error: Please try Again </span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }

                },
                error: function (data) {
                        $('#targetDivStaffa_act').empty();
                        $('<span class="alert alert-danger" style="display: block;font-size: 100%">Error: Error Occurred whiles saving </span>').appendTo('.rssedStaffa_act');
                        //$('#targetDivStaffa').empty();
                }
            });


    }








        
    
    
    return false;
});






</script>


<style>

.div1 {
    width: 50%;
    float: left;
    height: 100%;
}
.div2 {
    width: 50%;
    float: right;
    height: 100%;
}
/*TOOLTIP*/
.k-widget.k-tooltip{
        color: #353623;
        background-color: #f6f7e1;
        border-color: #f6f7e1;

}

/*SWITCH ON*/

    .k-switch-on .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }

    .k-switch-on:hover .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:hover .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:active .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4
    }

    .k-switch-on:active .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }



    .k-switch-on:visited .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:visited .k-switch-handle{
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:focus .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:focus .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }




    /*SWITCH OFF*/

    .k-switch-off .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



    .k-switch-off:hover .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:hover .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:active .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:active .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:visited .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:visited .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }

    .k-switch-off:focus .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:focus .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



</style>











