



@model WP_OutputMobilityVMWindow

<form id="addform">

    <input hidden asp-for="Employee_IdOMVMMain" class="k-textbox" style="width:100%" value="@Model.Employee_IdOMVMMain">
    <input hidden asp-for="Transaction_IdOMVMMain" class="k-textbox" style="width:100%" value="@Model.Transaction_IdOMVMMain">
    <input hidden asp-for="FiscalYear_IdOMVMMain" class="k-textbox" style="width:100%" value="@Model.FiscalYear_IdOMVMMain">
    <input hidden asp-for="Period_IdOMVMMain" class="k-textbox" style="width:100%" value="@Model.Period_IdOMVMMain">
    <input hidden asp-for="FisPeriodOMVMMain" class="k-textbox" style="width:100%" value="@Model.FisPeriodOMVMMain">
    <input hidden asp-for="Project_IdOMVMMain" class="k-textbox" style="width:100%" value="@Model.Project_IdOMVMMain">
    <input hidden asp-for="WPMainRecord_idOMVMMain" class="k-textbox" style="width:100%" value="@Model.WPMainRecord_idOMVMMain">
    <input hidden asp-for="WPOutput_IdOMVMMain" class="k-textbox" style="width:100%" value="@Model.WPOutput_IdOMVMMain">
    
    <div class="form-body" style="padding: 1.25rem;">
           
            <h6 style="color:#807878">Brief Mobility/Mission Description</h6>
            @Html.TextAreaFor(model => model.WPMobility_DescriptionOMVMMain, new { @class = "k-textbox", style = "width: 100%;", value="", rows="3"})
            <br />
            <br />

       
                <h6 style="color:#807878">Country</h6>
                @(Html.Kendo().DropDownListFor(model => model.Country_IdOMVMMain)
                    // .Name("Department_Id")
                    .HtmlAttributes(new { style = "width:100%", id = "Country_IdOMVMMain" })
                    .OptionLabel("Select...")
                    .DataTextField("DropDown_Name")
                    .DataValueField("DropDown_IntId")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                                read.Action("GetAllTransCountries", "Admin");
                            
                        })
                        .ServerFiltering(true);
                    })
                    
                
                    //.SelectedIndex(Model.Department_Id)
                )
                <br />
                <br />
        

            <div class="div1">
                <h6 style="color:#807878">Actual Mission Start Date</h6>
                @(Html.Kendo().DatePickerFor(model => model.MobilityStartDateOMVMMain)
                .Value(Model.MobilityStartDateOMVMMain)
                //.HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
                <br />
                <br />
            </div>
            <div class="div2">
                <h6 style="color:#807878">Actual Mission End Date</h6>
                @(Html.Kendo().DatePickerFor(model => model.MobilityEndDateOMVMMain)
                .Value(Model.MobilityEndDateOMVMMain)
                //.HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
                <br />
                <br />
            </div>
           
                <div id="mobilitycost"><h6 style="color:#807878"><span id="costinfo">Mission Cost (in USD)</span></h6></div>
                @Html.TextBoxFor(model => model.MobilityCostOMVMMain, new { @class = "k-textbox",  style = "width: 100%;", value=""})
                @(Html.Kendo().Tooltip()
                    .For("#mobilitycost")
                    .Filter("span")
                    .Content("Please provide the total cost associated with this mission, excluding all procurement cost. ")
                    .Position(TooltipPosition.Top)
                    .Width(350)
                )
                <br />
                <br />

                <div id="mobilitycost"><h6 style="color:#807878"><span id="costinfo">Internal Participants</span></h6></div>
                <div id="targetDivStaffa_int" class="rssedStaffa_int">
                </div>
                @(Html.Kendo().MultiSelect()
                        .Name("internalpartcipantsselect")
                        .HtmlAttributes(new { style = "width:100%" })
                        .DataTextField("DropDown_Name")
                        .DataValueField("DropDown_IntId")
                        .Placeholder("Select Staff...")
                        .AutoBind(false)
                        .Value(Model.SelectedEmployees)
                        .Events(e =>
                        {
                            e.Change("onChangeInternalParticipants");
                        })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetAllEmployee", "Admin");
                            })
                            .ServerFiltering(false);
                        })
                    )
                <br />
                <br />
                <div id="mobilitycost"><h6 style="color:#807878"><span id="costinfo">External Participants</span></h6></div>
                @(Html.Kendo().Grid<WP_OutputMobilityExternalPartVM>()
                .Name("grid_wpmobilityexternal")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Transaction_IdExtPartVM).Hidden();
                    columns.Bound(c => c.WPMainRecord_idExtPartVM).Hidden();
                    columns.Bound(c => c.WPOutput_IdExtPartVM).Hidden();
                    columns.Bound(c => c.WPMobility_idExtPartVM).Hidden();
  
                    columns.Bound(c => c.ExternalType).ClientTemplate("#=ExternalType.CategoryName#").Title("Type").Width(300);
                    columns.Bound(c => c.ExternalParticipant_DescriptionExtPartVM).Title("Description").Width(200);  
                    columns.Bound(c => c.ExternalParticipant_NumberExtPartVM).Title("No").Width(80);                                          

                    columns.Command(command => { command.Edit().Text(" Edit").IconClass("k-icon k-i-track-changes"); });
                    columns.Command(command => { command.Destroy().Text(" Delete").IconClass("k-icon k-i-delete"); });

                })
                .ToolBar(toolbar => toolbar.Create().Text(" Add External Participant").IconClass("k-icon k-i-plus-outline"))
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .Resizable(r=>r.Columns(true))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(p => p.Transaction_IdExtPartVM);
                        model.Field(p => p.Transaction_IdExtPartVM).Editable(false);
                        model.Field(p => p.ExternalType).DefaultValue(
                            ViewData["defaultExternalType"] as CategoryViewModel);
                    })
                    .Read(read => read.Action("WP_MobilityExternal_Read", "Admin", new {wpmobilityid=Model.Transaction_IdOMVMMain}))
                    .Model(model => 
                        {
                            model.Id(p => p.Transaction_IdExtPartVM);
                            //model.Field(field => field.LookUp_Status).Editable(false);
                        })
                    .Create(create => create.Action("WP_MobilityExternalParticipants_Create", "Admin", new {wpmobilityid=Model.Transaction_IdOMVMMain}))
                    .Update(update => update.Action("WP_MobilityExternalParticipant_Update", "Admin", new {wpmobilityid=Model.Transaction_IdOMVMMain}))
                    .Destroy(destroy => destroy.Action("WP_MobilityExternalParticipant_Delete", "Admin"))
                   // .PageSize(20)
                    .Events(events => events.Error("error_handler")
                                            .RequestEnd("onRequestWPMobilityExternal"))
                    
                )
        )
                <br />
                <br />


                <div id="targetDivStaffa_act" class="rssedStaffa_act">
                </div>
                <br />

                <div style="align-content:center; text-align:center">
                    <a class="k-button" id="btnSubmita_act">
                        <span class="k-icon k-i-save"></span> Save
                    </a>

                    <a class="k-button" id="btnCloseStaffa_act">
                        <span class="k-icon k-i-cancel"></span> Close
                    </a>
                </div>


    </div>





</form>







<script>
    
    $("#btnCloseStaffa_act").click(function () {
        $(".k-window-content").each(function () {
            $(this).data("kendoWindow").close();
        });
    });






$("#btnSubmita_act").click(function (e) {

    var gridid = $("#WPOutput_IdOMVMMain").val(); 

    var projid = $("#Project_IdOMVMMain").val();  
    var fyear = $("#FiscalYear_IdOMVMMain").val();  
    var fperiod = $("#Period_IdOMVMMain").val();  
    var periodtxt = $("#FisPeriodOMVMMain").val();  

    var mobilitydesc = $("#WPMobility_DescriptionOMVMMain").val();  
    var mobilitycountry = $("#Country_IdOMVMMain").val();  
    var mobilitycost = $("#MobilityCostOMVMMain").val();  
    var startDate= $("#MobilityStartDateOMVMMain").data("kendoDatePicker");
    var endDate= $("#MobilityEndDateOMVMMain").data("kendoDatePicker");


    




    if(mobilitydesc === "" && typeof mobilitydesc === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Entry : Please describe the mobility. </span>').appendTo('.rssedStaffa_act');
    }
    else if(mobilitycountry === "" && typeof mobilitycountry === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Selection : Please select country. </span>').appendTo('.rssedStaffa_act');
    }
    else if(mobilitycost === "" && typeof mobilitycost === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Entry : Please provide mobility/mission cost. </span>').appendTo('.rssedStaffa_act');
    }
    else if(isNaN(mobilitycost))
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">Mission cost should be a number. </span>').appendTo('.rssedStaffa_act');
    }
    else if(startDate.value()>endDate.value())
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">End Date should be a future date</span>').appendTo('.rssedStaffa_act');
    }
    else
    {
        //Work on this...
        $.ajax({
                type: "POST",
                url: '/Admin/EditOutputMobility',     //your action
                data: $('#addform').serialize(),   //your form name.it takes all the values of model
                dataType: 'json',
                success: function (result) {
                    var response = result.rtnmsg;
                    var remainfunds = result.remainfunds;


                    if (response == "success") {
                                $('#targetDivStaffa_act').empty();
                                $('<span class="alert alert-success" style="display: block;font-size: 100%">Success : Mission Saved Successfully. </span>').appendTo('.rssedStaffa_act');


                                var childGrid = $('#gridmobilitiessub_'+gridid).data("kendoGrid");

                                childGrid.dataSource.transport.options.read.url = "/Admin/WP_OutputsSubMobilities_Read?output_transid=" + gridid;
                                childGrid.dataSource.read();
                                //childGrid.refresh();

                                var grid_outputmobilities = $("#grid_outputmobilities").data("kendoGrid"); 
                                grid_outputmobilities.dataSource.transport.options.read.url = "/Admin/WP_Outputs_for_Mobilities_Read?projid=" + projid + "&fyear=" + fyear + "&fperiod=" + fperiod + "&periodtxt=" + periodtxt;
                                grid_outputmobilities.dataSource.read();


                    }
                    else if (response == "insufficientfunds") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Insufficient funds available for this output. Remaining Funds: $'+ remainfunds+' </span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else if (response == "pkerror") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Unable to Save. Mission Already Exist. </span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else if (response == "createerror") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Error: Unable to save mission</span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else if (response == "doesnotexist") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">No Record: Mission does not exist</span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Unknown Error: Please try Again </span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }

                },
                error: function (data) {
                        $('#targetDivStaffa_act').empty();
                        $('<span class="alert alert-danger" style="display: block;font-size: 100%">Error: Error Occurred whiles saving </span>').appendTo('.rssedStaffa_act');
                        //$('#targetDivStaffa').empty();
                }
            });


    }








        
    
    
    return false;
});






</script>


<style>

.div1 {
    width: 50%;
    float: left;
    height: 100%;
}
.div2 {
    width: 50%;
    float: right;
    height: 100%;
}
/*TOOLTIP*/
.k-widget.k-tooltip{
        color: #353623;
        background-color: #f6f7e1;
        border-color: #f6f7e1;

}

/*SWITCH ON*/

    .k-switch-on .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }

    .k-switch-on:hover .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:hover .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:active .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4
    }

    .k-switch-on:active .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }



    .k-switch-on:visited .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:visited .k-switch-handle{
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:focus .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:focus .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }




    /*SWITCH OFF*/

    .k-switch-off .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



    .k-switch-off:hover .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:hover .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:active .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:active .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:visited .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:visited .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }

    .k-switch-off:focus .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:focus .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



</style>











