



@model WP_OutputActivitiesVM

<form id="addform">

    <input hidden asp-for="Employee_IdOAVMMain" class="k-textbox" style="width:100%" value="@Model.Employee_IdOAVMMain">
    <input hidden asp-for="Transaction_IdOAVMMain" class="k-textbox" style="width:100%" value="@Model.Transaction_IdOAVMMain">
    <input hidden asp-for="FiscalYear_IdOAVMMain" class="k-textbox" style="width:100%" value="@Model.FiscalYear_IdOAVMMain">
    <input hidden asp-for="Period_IdOAVMMain" class="k-textbox" style="width:100%" value="@Model.Period_IdOAVMMain">
    <input hidden asp-for="Project_IdOAVMMain" class="k-textbox" style="width:100%" value="@Model.Project_IdOAVMMain">
    <input hidden asp-for="WPMainRecord_idOAVMMain" class="k-textbox" style="width:100%" value="@Model.WPMainRecord_idOAVMMain">
    
    <div class="form-body" style="padding: 1.25rem;">
            <h6 style="color:#807878"> Select Type of Activity </h6>
            @(Html.Kendo().DropDownListFor(model => model.ActivityType_IdOAVMMain)
                // .Name("Department_Id")
                .HtmlAttributes(new { style = "width:100%", id = "ActivityType_IdOAVMMain" })
                .OptionLabel("Select...")
                .DataTextField("DropDown_Name")
                .DataValueField("DropDown_IntId")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                            read.Action("GetAllActivityTypes", "Admin");
                        
                    })
                    .ServerFiltering(true);
                })
                .SelectedIndex(Model.ActivityType_IdOAVMMain)
            
                //.SelectedIndex(Model.Department_Id)
            )
            <br />
            <br />
            <h6 style="color:#807878">Brief Activity Description</h6>
            @Html.TextAreaFor(model => model.ActivityDescriptionOAVMMain, new { @class = "k-textbox", style = "width: 100%;", value=Model.ActivityDescriptionOAVMMain, rows="3"})
            <br />
            <br />
            
            <div class="div1">
                <h6 style="color:#807878">Start Date</h6>
                @(Html.Kendo().DatePickerFor(model => model.ActivityStartDateOAVMMain)
                .Value(Model.ActivityStartDateOAVMMain)
                //.HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
                <br />
                <br />
            </div>
            <div class="div2">
                <h6 style="color:#807878">End Date</h6>
                @(Html.Kendo().DatePickerFor(model => model.ActivityEndDateOAVMMain)
                .Value(Model.ActivityEndDateOAVMMain)
                //.HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
                <br />
                <br />
            </div>
            <div class="div1">
                <div id="activitycost"><h6 style="color:#807878"><span id="costinfo">Activity Cost (in USD)</span></h6></div>
                @Html.TextBoxFor(model => model.ActivityCostOAVMMain, new { @class = "k-textbox",  style = "width: 90%;", value=Model.ActivityCostOAVMMain})
                @(Html.Kendo().Tooltip()
                    .For("#activitycost")
                    .Filter("span")
                    .Content("Please provide the total cost associated with this activity. The total cost should include all mission, procurement, communication etc., costs.")
                    .Position(TooltipPosition.Top)
                    .Width(350)
                )
                <br />
                <br />
            </div>
             <div class="div2">
                <h6 style="color:#807878">Implementation Type</h6>
                @(Html.Kendo().DropDownListFor(model => model.ImplementationType_IdOAVMMain)
                    // .Name("Department_Id")
                    .HtmlAttributes(new { style = "width:100%", id = "ImplementationType_IdOAVMMain" })
                    .OptionLabel("Select...")
                    .DataTextField("DropDown_Name")
                    .DataValueField("DropDown_IntId")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                                read.Action("GetAllImplementationTypes", "Admin");
                            
                        })
                        .ServerFiltering(true);
                    })
                    .SelectedIndex(Model.ImplementationType_IdOAVMMain)
                    
                
                    //.SelectedIndex(Model.Department_Id)
                )
                <br />
                <br />
            </div>
            <h6 style="color:#807878">Baseline Technical Execution Estimate (%)</h6>
                @(Html.Kendo().Slider()
                        .Name("BaselineTechnicalOAVMMain")
                        .Min(0)
                        .Max(100)
                        .SmallStep(1)
                        .LargeStep(50)
                        .Value(Model.BaselineTechnicalOAVMMain)
                        .ShowButtons(false)
                        .HtmlAttributes(new { style = "width: 100%" ,id = "BaselineTechnicalOAVMMain"})
                       // .Events(events => events
                           // .Slide("sliderSlide")
                           // .Change("sliderChange"))
                )

            <br />
            <br />
            <h6 style="color:#807878">Baseline Financial Execution Estimate (%)</h6>
                @(Html.Kendo().Slider()
                        .Name("BaselineFinancialOAVMMain")
                        .Min(0)
                        .Max(100)
                        .SmallStep(1)
                        .LargeStep(50)
                        .Value(Model.BaselineFinancialOAVMMain)
                        .ShowButtons(false)
                        .HtmlAttributes(new { style = "width: 100%" ,id = "BaselineFinancialOAVMMain"})
                       // .Events(events => events
                           // .Slide("sliderSlide")
                           // .Change("sliderChange"))
                )
                <br />
                <br />
                <div id="targetDivStaffa_act" class="rssedStaffa_act">
                </div>
                <br />

                <div style="align-content:center; text-align:center">
                    <a class="k-button" id="btnSubmita_act">
                        <span class="k-icon k-i-save"></span> Save
                    </a>

                    <a class="k-button" id="btnCloseStaffa_act">
                        <span class="k-icon k-i-cancel"></span> Close
                    </a>
                </div>


    </div>





</form>







<script>
    
    $("#btnCloseStaffa_act").click(function () {
        $(".k-window-content").each(function () {
            $(this).data("kendoWindow").close();
        });
    });






$("#btnSubmita_act").click(function (e) {

    var gridid = $("#Transaction_IdOAVMMain").val(); 

    var projid = $("#Project_IdOAVMMain").val();  
    var fyear = $("#FiscalYear_IdOAVMMain").val();  
    var fperiod = $("#Period_IdOAVMMain").val();  

    var activitytype= $("#ActivityType_IdOAVMMain").val();  
    var activitydesc = $("#ActivityDescriptionOAVMMain").val();  
    var activitycost = $("#ActivityCostOAVMMain").val();  
    var startDate= $("#ActivityStartDateOAVMMain").data("kendoDatePicker");
    var endDate= $("#ActivityEndDateOAVMMain").data("kendoDatePicker");
    var implementationtype = $("#ImplementationType_IdOAVMMain").val();  

    



    if(activitytype === "" && typeof activitytype === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Selection : Please select activity type. </span>').appendTo('.rssedStaffa_act');
    }
    else if(activitydesc === "" && typeof activitydesc === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Entry : Please describe the activity. </span>').appendTo('.rssedStaffa_act');
    }
    else if(activitycost === "" && typeof activitycost === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Entry : Please provide activity cost. </span>').appendTo('.rssedStaffa_act');
    }
    else if(isNaN(activitycost))
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">Activity cost should be a number. </span>').appendTo('.rssedStaffa_act');
    }
    else if(startDate.value()>endDate.value())
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">End Date should be a future date</span>').appendTo('.rssedStaffa_act');
    }
    else if(implementationtype === "" && typeof implementationtype === "string")
    {
        $('#targetDivStaffa_act').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%">No Selection : Please select implementation type. </span>').appendTo('.rssedStaffa_act');
    }
    else
    {
        //Work on this...
        $.ajax({
                type: "POST",
                url: '/Admin/AddOutputActivity',     //your action
                data: $('#addform').serialize(),   //your form name.it takes all the values of model
                dataType: 'json',
                success: function (result) {
                    var response = result.rtnmsg;

                    if (response == "success") {
                                $('#targetDivStaffa_act').empty();
                                $('<span class="alert alert-success" style="display: block;font-size: 100%">Success : Activity Saved Successfully. </span>').appendTo('.rssedStaffa_act');


                                var childGrid = $('#gridactivitysub_'+gridid).data("kendoGrid");
                                childGrid.dataSource.transport.options.read.url = "/Admin/WP_OutputsSubActivities_Read?output_transid=" + gridid;
                                childGrid.dataSource.read();
                                childGrid.refresh();


                                var grid_outputsbudget = $("#grid_outputsbudget").data("kendoGrid"); 
                                grid_outputsbudget.dataSource.transport.options.read.url = "/Admin/WP_OutputsBudget_Read?projid=" + projid + "&fyear=" + fyear + "&fperiod=" + fperiod;
                                grid_outputsbudget.dataSource.read();
                                grid_outputsbudget.refresh();


                    }
                    else if (response == "pkerror") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Unable to Save. Activity Already Exist. </span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else if (response == "createerror") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Error: Unable to save activity</span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else if (response == "doesnotexist") {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">No Record: Activity does not exist</span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }
                    else {
                            $('#targetDivStaffa_act').empty();
                            $('<span class="alert alert-danger" style="display: block;font-size: 100%">Unknown Error: Please try Again </span>').appendTo('.rssedStaffa_act');
                            //$('#targetDivStaffa').empty();
                    }

                },
                error: function (data) {
                        $('#targetDivStaffa_act').empty();
                        $('<span class="alert alert-danger" style="display: block;font-size: 100%">Error: Error Occurred whiles saving </span>').appendTo('.rssedStaffa_act');
                        //$('#targetDivStaffa').empty();
                }
            });


    }








        
    
    
    return false;
});






</script>


<style>

.div1 {
    width: 50%;
    float: left;
    height: 100%;
}
.div2 {
    width: 50%;
    float: right;
    height: 100%;
}
/*TOOLTIP*/
.k-widget.k-tooltip{
        color: #353623;
        background-color: #f6f7e1;
        border-color: #f6f7e1;

}

/*SWITCH ON*/

    .k-switch-on .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }

    .k-switch-on:hover .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:hover .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:active .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4
    }

    .k-switch-on:active .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }



    .k-switch-on:visited .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:visited .k-switch-handle{
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:focus .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:focus .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }




    /*SWITCH OFF*/

    .k-switch-off .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



    .k-switch-off:hover .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:hover .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:active .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:active .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:visited .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:visited .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }

    .k-switch-off:focus .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:focus .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



</style>











