@model EmployeeViewModel
@{
    ViewBag.Title = "AUDA-NEPAD Integrated Planning System";
    Layout = "_NEPADStaffLayout2";

}



<h1 style="font-family: Faktslab;">Directorate or Division Level KPIs</h1>
<div class="separator-breadcrumb border-top"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-5">
                            <div class="card-body">
                                <div class="card-title mb-3">Active KPIs</div>

                                <form id="addformmain">
                                <input hidden asp-for="IdentityUserId" class="k-textbox" style="width:100%" value="@Model.IdentityUserId">
                                <input hidden asp-for="Employee_Id" class="k-textbox" style="width:100%" value="@Model.Id">
                                    

                                    <div class="form-group row" style="padding-right: 1.25rem; padding-left: 1.25rem; padding-bottom: 1.25rem;">
                                        <a class="k-button " id="btnAdd" style="color: #003f59;">
                                         <span class="k-icon k-i-plus-outline"></span> Add an Indicator
                                        </a>
                                        @(Html.Kendo().Grid<DivisionKPIsViewModel>()
                                                        .Name("gridkpis")
                                                        .Columns(columns =>
                                                        {

                                                            columns.Bound(c => c.Transaction_Id).Hidden();
                                                            columns.Bound(c => c.Record_Id).Hidden();
                                                            columns.Bound(c => c.Directorate_Ident).Hidden();
                                                            columns.Bound(c => c.Division_Ident).Hidden();
                                                            columns.Bound(c => c.Indicator_Type_Ident).Hidden();
                                                            columns.Bound(c => c.Record_Name).Title("Key Performance Indicator");
                                                            columns.Bound(c => c.Indicator_Type).Title("Type of Indicator");
                                                            columns.Bound(c => c.Division_Name).Title("Division");
                                                            columns.Bound(c => c.TransactionDate).Title("Transaction Date").Format("{0: dd-MM-yyyy}");

                                                            columns.Command(command => command.Custom(" Edit").IconClass("k-icon k-i-track-changes").Click("editactivekpi"));
                                                            columns.Command(command => command.Custom(" Deactivate").IconClass("k-icon k-i-lock").Click("deactivatekpi"));
                                                            //columns.Command(command => { command.Destroy().Text(" Deactivate").IconClass("k-icon k-i-lock"); });
                                                        })
                                                        .HtmlAttributes(new { style = "height: 400px;" })
                                                        .Scrollable()
                                                        .Groupable()
                                                        .Sortable()
                                                        .Navigatable()
                                                        .Filterable()
                                                        .Pageable(pageable => pageable
                                                            .Refresh(true)
                                                            .PageSizes(true)
                                                            .ButtonCount(5))
                                                        .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .Sort(sort => sort.Add("Record_Name").Ascending())
                                                            .Read(read => read
                                                                            .Action("DivisionTransKPIs_Read", "Admin", new { recid = @Model.Id}))
                                                            .Model(model => model.Id(p => p.Transaction_Id))
                                                           // .Create(create => create.Action("Struc_DivisionKPI_Create", "Admin", new {dirid=Model.Directorate_Id, divid=@Model.Division_Id}))
                                                           // .Destroy(destroy => destroy.Action("Strategy_MTPStrategyMapping_Delete", "Admin"))
                                                           // .Update(update => update.Action("WP_Outcomes_Update", "Admin"))
                                                            .PageSize(20)
                                                            .Events(events => events.Error("error_handler")
                                                                                .RequestEnd("onRequestEnd"))
                                                        )
                                                    )
                                        </div>

                                   
                                    
                                    

                                    
                                   
                                </form>


                            <div class="card-title mb-3">Deactivated KPIs</div>

                                <form id="addformmainachived">
  
                                    

                                    <div class="form-group row" style="padding-right: 1.25rem; padding-left: 1.25rem; padding-bottom: 1.25rem;">
                                        @(Html.Kendo().Grid<DivisionKPIsViewModel>()
                                                        .Name("gridkpisdeactivated")
                                                        .Columns(columns =>
                                                        {

                                                            columns.Bound(c => c.Transaction_Id).Hidden();
                                                            columns.Bound(c => c.Record_Id).Hidden();
                                                            columns.Bound(c => c.Directorate_Ident).Hidden();
                                                            columns.Bound(c => c.Division_Ident).Hidden();
                                                            columns.Bound(c => c.Indicator_Type_Ident).Hidden();
                                                            columns.Bound(c => c.Record_Name).Title("Key Performance Indicator");
                                                            columns.Bound(c => c.Indicator_Type).Title("Type of Indicator");
                                                            columns.Bound(c => c.Division_Name).Title("Division");
                                                            columns.Bound(c => c.TransactionDate).Title("Transaction Date").Format("{0: dd-MM-yyyy}");

                                                            columns.Command(command => command.Custom(" Activate").IconClass("k-icon k-i-unlock").Click("activatekpi"));
                                                            
                                                        })
                                                        .HtmlAttributes(new { style = "height: 400px;" })
                                                        .Scrollable()
                                                        .Groupable()
                                                        .Sortable()
                                                        .Navigatable()
                                                        .Filterable()
                                                        .Pageable(pageable => pageable
                                                            .Refresh(true)
                                                            .PageSizes(true)
                                                            .ButtonCount(5))
                                                        .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .Sort(sort => sort.Add("Record_Name").Ascending())
                                                            .Read(read => read
                                                                            .Action("DivisionDeactivatedKPIs_Read", "Admin", new { recid = @Model.Id}))
                                                            .Model(model => model.Id(p => p.Transaction_Id))
                                                           // .Create(create => create.Action("Struc_DivisionKPI_Create", "Admin", new {dirid=Model.Directorate_Id, divid=@Model.Division_Id}))
                                                            .Destroy(destroy => destroy.Action("Strategy_MTPStrategyMapping_Delete", "Admin"))
                                                           // .Update(update => update.Action("WP_Outcomes_Update", "Admin"))
                                                            .PageSize(20)
                                                            .Events(events => events.Error("error_handler")
                                                                                .RequestEnd("onRequestEnd"))
                                                        )
                                                    )
                                        </div>

                                   
                                    
                                    

                                    
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>








<div id="getstaffwindow">
</div>
<div id="windowstaff"></div>
<div id="staffposwindow">
</div>
<div id="windowstaffpos">
</div>

<div id="example">
    <div id="dialog">
    </div>
    <div id="undo">
    </div>
</div>




<script type="text/javascript">
    function error_handler(e) {    
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });        
            alert(message);
        }
    }

    function onRequestEnd(e){
            var recid = $("#Employee_Id").val();  
            if (e.type === "update" || e.type === "create" || e.type === "destroy" ) {
               
                var grid = $("#gridkpis").data("kendoGrid"); 

                grid.dataSource.transport.options.read.url = "/Admin/DivisionTransKPIs_Read/?recid=" + recid;
                grid.dataSource.read();
            }
    }

   $("#btnAdd").click(function () {


                  $("#windowstaff").append("<div id='getstaffwindow'></div>");

                var wnd2 = $("#getstaffwindow").kendoWindow({
                    //actions: ["Close"],
                    draggable: true,
                    modal: true,
                    animation: false,
                    resizable: true,
                    content: "/NEPADStaff/AddDivisionKPI",
                    width: 600,
                    height: 400,

                    title: "Add KPI",
                    // close: onClose,
                    deactivate: function () {
                        this.destroy();
                    }

                }).data("kendoWindow");
                wnd2.center().open();

   });


function deactivatekpi(e) {
    e.preventDefault();
    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    var transid = dataItem.Transaction_Id;

    var recid = $("#Employee_Id").val();  

        var dialog = $('#dialog');
        var undo = $("#undo");

        function onClose() {
            undo.fadeIn();
        }



              dialog.kendoDialog({
                  width: "450px",
                  title: "Confirmation",
                  closable: false,
                  modal: true,
                  content: "<p>Please <strong>confirm</strong> the action.<p>",
                  actions: [
                      {
                          text: 'Confirm',
                          action: function (e) {
                              $.ajax({
                                  type: "POST",
                                  url: '/Admin/DeactivateDivisionKPI',     //your action
                                  data: { "transid": transid},
                                  dataType: 'json',
                                  success: function (result) {

                                        var grid = $("#gridkpis").data("kendoGrid"); 
                                        grid.dataSource.transport.options.read.url = "/Admin/DivisionTransKPIs_Read/?recid=" + recid;
                                        grid.dataSource.read();
                                        grid.refresh();


    
                                        var griddeactivated = $("#gridkpisdeactivated").data("kendoGrid"); 
                                        griddeactivated.dataSource.transport.options.read.url = "/Admin/DivisionDeactivatedKPIs_Read/?recid=" + recid;
                                        griddeactivated.dataSource.read();
                                        griddeactivated.refresh();

                                  },
                                  error: function (data) {

                                  }
                              })
                              return true;
                          },
                          primary: true

                      },
                      { text: 'Cancel' }
                  ],
                  close: onClose
              });

              dialog.data("kendoDialog").open();
              undo.fadeOut();

}

function activatekpi(e) {
    e.preventDefault();
    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    var recordid = dataItem.Record_Id;

    var recid = $("#Employee_Id").val();  

        var dialog = $('#dialog');
        var undo = $("#undo");

        function onClose() {
            undo.fadeIn();
        }



              dialog.kendoDialog({
                  width: "450px",
                  title: "Confirmation",
                  closable: false,
                  modal: true,
                  content: "<p>Please <strong>confirm</strong> the action.<p>",
                  actions: [
                      {
                          text: 'Confirm',
                          action: function (e) {
                              $.ajax({
                                  type: "POST",
                                  url: '/Admin/ActivateDivisionKPI',     //your action
                                  data: { "recordid": recordid},
                                  dataType: 'json',
                                  success: function (result) {

                                        var grid = $("#gridkpis").data("kendoGrid"); 
                                        grid.dataSource.transport.options.read.url = "/Admin/DivisionTransKPIs_Read/?recid=" + recid;
                                        grid.dataSource.read();
                                        grid.refresh();


    
                                        var griddeactivated = $("#gridkpisdeactivated").data("kendoGrid"); 
                                        griddeactivated.dataSource.transport.options.read.url = "/Admin/DivisionDeactivatedKPIs_Read/?recid=" + recid;
                                        griddeactivated.dataSource.read();
                                        griddeactivated.refresh();

                                  },
                                  error: function (data) {

                                  }
                              })
                              return true;
                          },
                          primary: true

                      },
                      { text: 'Cancel' }
                  ],
                  close: onClose
              });

              dialog.data("kendoDialog").open();
              undo.fadeOut();

}

function editactivekpi(e) {
    e.preventDefault();
    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    var transid = dataItem.Transaction_Id;


    $("#windowstaff").append("<div id='getstaffwindow'></div>");

    var wnd2 = $("#getstaffwindow").kendoWindow({
        //actions: ["Close"],
        draggable: true,
        modal: true,
        animation: false,
        resizable: true,
        content: "/NEPADStaff/EditDivisionKPI?transid=" + transid,
        width: 600,
        height: 400,

        title: "Edit KPI",
        // close: onClose,
        deactivate: function () {
            this.destroy();
        }

    }).data("kendoWindow");
    wnd2.center().open();

}


   

</script>