@model EmployeeViewModel
@{
    ViewBag.Title = "AUDA-NEPAD Integrated Planning System";
    Layout = "_NEPADStaffLayout2";

}



<h1 style="font-family: Faktslab;">@Model.InstitutionalRepPeriod Institutional-Level Workplan</h1>
<div class="separator-breadcrumb border-top"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title mb-3"> Completion Level of Workplans By Directorate</div>
                                    <input hidden asp-for="DispatchCycle_Id" class="k-textbox" style="width:100%" value="@Model.DispatchCycle_Id">
                                    <input hidden asp-for="InstitutionalRepPeriodIdent" class="k-textbox" style="width:100%" value="@Model.InstitutionalRepPeriodIdent">
                                
                                 @(Html.Kendo().Chart<WP_InstitutionalGraphsVM>()
                                    .Name("chartcompleteness")
                                  //  .Title("Site Visitors Stats \n /thousands/")
                                     .Legend(legend => legend
                                        .Position(ChartLegendPosition.Top)
                                    )
                                    .ChartArea(chartArea => chartArea
                                        .Background("transparent")
                                    )
                                    .DataSource(ds => ds.Read(read => read.Action("_GetCompletionLevelOfWPS_Draft", "Admin", new {cycleid=Model.DispatchCycle_Id})))
                                        .Series(series => {
                                            series.Bar(model => model.DivisionSubmissions).Name("Division Submissions").CategoryField("DName").Color("#003473");
                                            series.Bar(model => model.CompletenessOfSubmissions).Name("Completeness of Submissions").CategoryField("DName");
                                        })
                                        .CategoryAxis(axis => axis
                                            .MajorGridLines(lines => lines.Visible(false))
                                        )
                                        .ValueAxis(axis => axis.Numeric()
                                          //  .Labels(labels => labels.Format("{0:N0}"))
                                            .Labels(labels => labels.Format("{0}%"))
                                            .MajorUnit(10)
                                            .Max(100.0)
                                            .Line(line => line.Visible(true))
                                           // .Title("Percentage(%)")
                                        )
                                        .Tooltip(tooltip => tooltip
                                            .Visible(true)
                                            .Format("{0:N0}")
                                            .Template("#= series.name #: #= value #%")
                                        )
                                )
                            </div>
                        </div>
                    </div>
                 <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title mb-3">MS and DP Budget By Directorate</div>
                                  @(Html.Kendo().Chart<WP_InstitutionalGraphsVM>()
                                    .Name("chartprcbudget")
                                   // .Title("Hybrid car mileage report")
                                    .Legend(legend => legend
                                        .Position(ChartLegendPosition.Top)
                                    )
                                    .Pdf(p=>p.ForceProxy(true))
                                    .DataSource(ds => ds.Read(read => read.Action("_GetPRCBudgetThresholds_DraftPeriodRange", "Admin", new {cycleid=Model.DispatchCycle_Id, periodid=Model.InstitutionalRepPeriodIdent})))
                                    .Series(series =>
                                    {
                                        series
                                            .Column(model => model.DirectorateMSBudget)
                                            .Stack(true)
                                            .Color("#02203b")
                                            .Name("AUDA-NEPAD MS Budget");
                                        series
                                            .Column(model => model.DirectorateDPBudget)
                                            .Stack(true)
                                            .Color("#0399d4")
                                            .Name("AUDA-NEPAD DP Budget");
                                       
                                    })
                                    .CategoryAxis(axis => axis
                                        .Categories(model => model.DName)
                                        // Align the first two value axes to the left
                                        // and the last two to the right.
                                        //
                                        // Right alignment is done by specifying a
                                        // crossing value greater than or equal to
                                        // the number of categories.
                                        .AxisCrossingValue(0, 0, 10, 10)
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric()
                                            .Title("Millions US$")
                                            .Min(0).Max(Model.PRCThresold_Max)
                                            
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric("audadp")
                                            .Title("audadp")
                                            .Min(0).Max(Model.PRCThresold_Max)
                                            .Visible(false)
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric("prcms")
                                            .Title("prcms")
                                           // .Color("#ec5e0a")
                                            .Min(0).Max(Model.PRCThresold_Max)
                                            .Visible(false)
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric("prcdp")
                                            .Title("prcdp")
                                           // .Color("#4e4141")
                                            .Min(0).Max(Model.PRCThresold_Max)
                                            .Visible(false)
                                    )
                                    .Tooltip(tooltip => tooltip
                                            .Visible(true)
                                            .Template("#= series.name #: #= value # million US$")
                                    )
                                )
                            </div>
                        </div>
                    </div>

      
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title mb-3">Distribution of Contributions to MTP Priorities</div>
                                 
                                
                                 @(Html.Kendo().Chart()
                                .Name("mtp_contr")
                                .ChartArea(chartArea => chartArea
                                    .Background("transparent"))
                                .Title(title => title
                                //    .Text("Share of Internet Population Growth")
                                    .Position(ChartTitlePosition.Bottom)
                                )
                                .Legend(legend => legend
                                    .Visible(false)
                                )
                                .SeriesDefaults(series =>
                                    series.Donut().StartAngle(150)
                                )
                                .DataSource(ds => ds.Read(read => read.Action("_GetInstitutionalMTPContributions_Draft", "Admin", new {cycleid=Model.DispatchCycle_Id})))
                                .Series(series =>
                                {


                                    series.Donut("DValue", "DName")
                        
                                    .Name(@Model.FisYear)
                                    .Labels(labels => labels
                                        .Visible(true)
                                        .Distance(20)
                                        .Position(ChartSeriesLabelsPosition.OutsideEnd)
                                        .Template("#= category # \n #= value#%")
                                        .Background("transparent")
                                    );
                                })
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Template("#= dataItem.DNameOther # (#= series.name #): #= value #%")
                                   // .Template("#= category # (#= series.name #): #= value #%")
                                )
                                .SeriesColors("#02203b", "#166f99", "#0399d4", "#89CFF0", "#B0DFE5", "#e9eaf7")
                            )
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title mb-3">Contributions to MTP Priorities by Directorates</div>
                                 @(Html.Kendo().Chart<WP_InstitutionalGraphsVM>()
                                    .Name("mtp_contrbydir")
                                    .Legend(legend => legend
                                        .Position(ChartLegendPosition.Bottom)
                                    )
                                    .SeriesDefaults(seriesDefaults =>
                                        seriesDefaults.Bar().Stack(ChartStackType.Stack100)
                                    )
                                    .DataSource(ds => ds.Read(read => read.Action("_GetDirectorateMTPContributions_Draft", "Admin", new {cycleid=Model.DispatchCycle_Id})))
                                    .Series(series => {
                                        series.Bar(model => model.Economic).Name("Economic Transformation...").Color("#02203b");
                                        series.Bar(model => model.Invest).Name("Investing in the African People...").Color("#166f99");
                                        series.Bar(model => model.Advancing).Name("Advancing Continental Integration").Color("#0399d4");
                                        series.Bar(model => model.Service).Name("Service Delivery, Capacity Development...").Color("#89CFF0");
                                        series.Bar(model => model.Institutional).Name("Institutional Reforms").Color("#B0DFE5");
                                    })
                                    .CategoryAxis(axis => axis
                                        .Categories(model => model.DName)
                                        .MajorGridLines(lines => lines.Visible(false))
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric()
                                        .Line(line => line.Visible(false))
                                        .MajorGridLines(lines => lines.Visible(true))
                                    )
                                    .Tooltip(tooltip => tooltip
                                        .Visible(true)
                                        .Template("#= series.name #: #= value #%")
                                    )
                                ) 
                            </div>
                        </div>
                    </div>

      
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title mb-3">Distribution of Contributions to Strategic Priorities</div>
                                 
                                
                                 @(Html.Kendo().Chart()
                                .Name("stra_contr")
                                .ChartArea(chartArea => chartArea
                                    .Background("transparent"))
                                .Title(title => title
                                //    .Text("Share of Internet Population Growth")
                                    .Position(ChartTitlePosition.Bottom)
                                )
                                .Legend(legend => legend
                                    .Visible(false)
                                )
                                .SeriesDefaults(series =>
                                    series.Donut().StartAngle(150)
                                )
                                .DataSource(ds => ds.Read(read => read.Action("_GetInstitutionalStraContributions_Draft", "Admin", new {cycleid=Model.DispatchCycle_Id})))
                                .Series(series =>
                                {


                                    series.Donut("DValue", "DName")
                        
                                    .Name(@Model.FisYear)
                                    .Labels(labels => labels
                                        .Visible(true)
                                        .Distance(20)
                                        .Position(ChartSeriesLabelsPosition.OutsideEnd)
                                        .Template("#= category # \n #= value#%")
                                        .Background("transparent")
                                    );
                                })
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Template("#= dataItem.DNameOther # (#= series.name #): #= value #%")
                                   // .Template("#= category # (#= series.name #): #= value #%")
                                )
                                .SeriesColors("#02203b", "#166f99", "#0399d4", "#89CFF0", "#B0DFE5", "#e9eaf7", "#a0a700")
                            )
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title mb-3">Contributions to Strategic Priorities by Directorates</div>
                                 @(Html.Kendo().Chart<WP_InstitutionalGraphsVM>()
                                    .Name("stra_contrbydir")
                                    .Legend(legend => legend
                                        .Position(ChartLegendPosition.Bottom)
                                    )
                                    .SeriesDefaults(seriesDefaults =>
                                        seriesDefaults.Bar().Stack(ChartStackType.Stack100)
                                    )
                                    .DataSource(ds => ds.Read(read => read.Action("_GetDirectorateStraContributions_Draft", "Admin", new {cycleid=Model.DispatchCycle_Id})))
                                    .Series(series => {
                                        series.Bar(model => model.EconomicInt).Name("Economic Integration").Color("#02203b");
                                        series.Bar(model => model.HumanCap).Name("Human & Institutional Development").Color("#166f99");
                                        series.Bar(model => model.FoodSys).Name("Food Systems...").Color("#0399d4");
                                        series.Bar(model => model.SystEnergy).Name("Sustainable Energy").Color("#89CFF0");
                                        series.Bar(model => model.ClimateRes).Name("Climate Resilience...").Color("#B0DFE5");
                                        series.Bar(model => model.STI).Name("Science, Technology & Innovation").Color("#e9eaf7");
                                        series.Bar(model => model.StraInstitutional).Name("Institutional Enhancement").Color("#a0a700");
                                    })
                                    .CategoryAxis(axis => axis
                                        .Categories(model => model.DName)
                                        .MajorGridLines(lines => lines.Visible(false))
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric()
                                        .Line(line => line.Visible(false))
                                        .MajorGridLines(lines => lines.Visible(true))
                                    )
                                    .Tooltip(tooltip => tooltip
                                        .Visible(true)
                                        .Template("#= series.name #: #= value #%")
                                    )
                                ) 
                            </div>
                        </div>
                    </div>

      
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title mb-3">Distribution of Implementation Type</div>
                                 
                                
                                @(Html.Kendo().Chart<WP_InstitutionalGraphsVM>()
                                    .Name("imp_distr")
                                    .Legend(legend => legend
                                        .Position(ChartLegendPosition.Bottom)
                                    )
                                    .SeriesDefaults(seriesDefaults =>
                                        seriesDefaults.Bar().Stack(ChartStackType.Stack100)
                                    )
                                    .DataSource(ds => ds.Read(read => read.Action("_GetDirectorateImplemenationType_Draft", "Admin", new {cycleid=Model.DispatchCycle_Id})))
                                    .Series(series => {
                                        series.Bar(model => model.SubDelegation).Name("Sub-Delegation").Color("#02203b");
                                        series.Bar(model => model.DirectExe).Name("Direct Implementation").Color("#a0a700");
                                        series.Bar(model => model.JointExe).Name("Joint Implementation").Color("#0399d4");
                                    })
                                    .CategoryAxis(axis => axis
                                        .Categories(model => model.DName)
                                        .MajorGridLines(lines => lines.Visible(false))
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric()
                                        .Line(line => line.Visible(false))
                                        .MajorGridLines(lines => lines.Visible(true))
                                    )
                                    .Tooltip(tooltip => tooltip
                                        .Visible(true)
                                        .Template("#= series.name #: #= value #%")
                                    )
                                ) 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title mb-3">Existing and New Projects for @Model.FisYear (@Model.FisPeriod)</div>
                                 @(Html.Kendo().Chart<WP_InstitutionalGraphsVM>()
                                    .Name("new_proj")
                                    .Legend(legend => legend
                                        .Position(ChartLegendPosition.Bottom)
                                    )
                                    .SeriesDefaults(seriesDefaults =>
                                        seriesDefaults.Bar().Stack(true)
                                    )
                                    .DataSource(ds => ds.Read(read => read.Action("_GetDirectorateNewProjects_Draft", "Admin", new {cycleid=Model.DispatchCycle_Id})))
                                    .Series(series => {
                                        series.Bar(model => model.ExistingProjs).Name("Existing Projects").Color("#02203b");
                                        series.Bar(model => model.NewProjs).Name("New Projects (Inception)").Color("#a0a700");
                                    })
                                    .CategoryAxis(axis => axis
                                        .Categories(model => model.DName)
                                        .MajorGridLines(lines => lines.Visible(false))
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric()
                                        .MajorUnit(2)
                                        .Max(Model.Project_Max)
                                        .Line(line => line.Visible(false))
                                        .MajorGridLines(lines => lines.Visible(true))
                                    )
                                    .Tooltip(tooltip => tooltip
                                        .Visible(true)
                                        .Template("#= series.name #: #= value #")
                                    )
                                ) 
                            </div>
                        </div>
                    </div>

      
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-5">
                            <div class="card-body" style="text-align: center;">

                            <a class="k-button " id="btnViewPDF" style="color: #003f59;">
                                            <span class="k-icon k-i-file-pdf"></span> View PDF Report
                            </a>
                                &nbsp;&nbsp;
                            <a class="k-button " id="btnViewExcel" style="color: #003f59;">
                                            <span class="k-icon k-i-file-excel"></span> View Excel Report
                            </a>



                            </div>
                        </div>
                    </div>
                </div>















<div id="getstaffwindow">
</div>
<div id="windowstaff"></div>
<div id="staffposwindow"></div>


<div id="windowstaff2"></div>
<div id="staffposwindow2"></div>

<div id="windowstaffpos">
</div>

<div id="example">
    <div id="dialog">
    </div>
    <div id="undo">
    </div>
</div>


<style>
    #mtp_contr {
        background: center no-repeat url('@Url.Content("~/shared/world-map.png")');
    }
    #stra_contr {
        background: center no-repeat url('@Url.Content("~/shared/world-map.png")');
    }
</style>





<script type="text/javascript">
function redirect_blank(url) {
  var a = document.createElement('a');
  a.target="_blank";
  a.href=url;
  a.click();
}

$("#btnViewPDF").click(function () {
    var cycleid = $("#DispatchCycle_Id").val();  
    var periodid = $("#InstitutionalRepPeriodIdent").val(); 
    
    //var chart = $("#chartprcbudget").getKendoChart();

    var chartdatacomplete = $("#chartcompleteness").data("kendoChart");
    var chartdataprc = $("#chartprcbudget").data("kendoChart");

    var chartdatamtpcontr = $("#mtp_contr").data("kendoChart");
    var chartdatamtpcontrdir = $("#mtp_contrbydir").data("kendoChart");

    var chartdatastracontr = $("#stra_contr").data("kendoChart");
    var chartdatastracontrdir = $("#stra_contrbydir").data("kendoChart");

    var chartdataimp_distr = $("#imp_distr").data("kendoChart");
    var chartdatanew_proj = $("#new_proj").data("kendoChart");

    var imageDataURL_Complete = chartdatacomplete.imageDataURL();
    var imageDataURL_PRC = chartdataprc.imageDataURL();

    var imageDataURL_MTPContr = chartdatamtpcontr.imageDataURL();
    var imageDataURL_MTPContrDir = chartdatamtpcontrdir.imageDataURL();


    var imageDataURL_StraContr = chartdatastracontr.imageDataURL();
    var imageDataURL_StraContrDir = chartdatastracontrdir.imageDataURL();

    var imageDataURL_ImpDistr = chartdataimp_distr.imageDataURL();
    var imageDataURL_NewProj = chartdatanew_proj.imageDataURL();

    


    var rawData_Complete = imageDataURL_Complete.substring(imageDataURL_Complete.indexOf("base64,") + 7);
    var rawData_PRC = imageDataURL_PRC.substring(imageDataURL_PRC.indexOf("base64,") + 7);

    var rawData_MTPContr = imageDataURL_MTPContr.substring(imageDataURL_MTPContr.indexOf("base64,") + 7);
    var rawData_MTPContrDir = imageDataURL_MTPContrDir.substring(imageDataURL_MTPContrDir.indexOf("base64,") + 7);

    var rawData_StraContr = imageDataURL_StraContr.substring(imageDataURL_StraContr.indexOf("base64,") + 7);
    var rawData_StraContrDir = imageDataURL_StraContrDir.substring(imageDataURL_StraContrDir.indexOf("base64,") + 7);

    var rawData_ImpDistr = imageDataURL_ImpDistr.substring(imageDataURL_ImpDistr.indexOf("base64,") + 7);
    var rawData_NewProj = imageDataURL_NewProj.substring(imageDataURL_NewProj.indexOf("base64,") + 7);
   // var data2 = atob(rawData);

    var dialog = $('#dialog');
    var undo = $("#undo");

    function onClose() {
        undo.fadeIn();
    }

    $.ajax({
        type: "POST",
        url: '/Admin/ExportSave_InstitutionalChartsRange',     //your action 
        data:{"contentType": "image/png", "base64_complete": rawData_Complete, "base64_prc": rawData_PRC, "base64_mtpcontr": rawData_MTPContr, "base64_mtpcontrdir": rawData_MTPContrDir, "base64_stracontr": rawData_StraContr, "base64_stracontrdir": rawData_StraContrDir, "base64_impdistr": rawData_ImpDistr, "base64_newproj": rawData_NewProj,"cycleid": cycleid},
        dataType: 'json',
        success: function (result) {
            var response = result.rtnmsg;

            if (response == "success") {
                var url="/NEPADStaff/InstitutionalWorkplanDraftRangePDF?cycleid="+cycleid+"&periodid=" + periodid;
                redirect_blank(url);


            }
            else if  (response == "error") {
                dialog.kendoDialog({
                    width: "300px",
                    title: "Error",
                    closable: false,
                    modal: true,
                    content: "<p>Error: Please try Again<p>",
                    actions: [
                        { text: 'Cancel' }
                    ],
                    close: onClose
                });

                dialog.data("kendoDialog").open();
                undo.fadeOut();
            

            }
        

        },
        error: function (data) {
            dialog.kendoDialog({
                width: "300px",
                title: "Error",
                closable: false,
                modal: true,
                content: "<p>Error: Please try Again<p>",
                actions: [
                    { text: 'Cancel' }
                ],
                close: onClose
            });

            dialog.data("kendoDialog").open();
            undo.fadeOut();

        }
    });


});


function onDropDownChange(d)  
{  
    var dirid = $("#Directorate_Ident").val();  
    var divid = $("#Division_Id").val();  
    var progid = $("#Programme_Id").val();  
    var projid = $("#Project_Id").val();  
    var yearid = $("#FYear").val();  
    var periodid = $("#FPeriod").val();  
    var periodtxt = $("#FPeriod").text();  
    var empid = $("#Employee_Id").val();  
    var userident = $("#IdentityUserId").val();

    var dialog = $('#dialog');
    var undo = $("#undo");

    function onClose() {
        undo.fadeIn();
    }

    if(periodid === "" && typeof periodid === "string")
    {

    }
    else{

        /* window.location.href = "/NEPADStaff/ManageWorkplansDraft?divid=" + divid + "&progid=" + progid + "&projid=" + projid + "&yearid=" + yearid+"&periodid=" + periodid +"&periodtxt=" + d.sender.text();*/
        
            $.ajax({
            type: "POST",
            url: '/Admin/CheckMainWPRecordStatus',     //your action
            //data:{"projid": projid, "fyear": fyear, "fperiod": fperiod, "selectkeys": this.selectedKeyNames().join(","), "empid": empid, selectedrows: JSON.parse( JSON.stringify(models))},
            data:{"projid": projid, "fyear": yearid, "fperiod": periodid, "empid": empid, "dirid": dirid, "divid": divid, "progid": progid, "periodtxt": periodtxt},
            dataType: 'json',
            success: function (result) {
                var response = result.rtnmsg;

                if (response == "recordfound") {
                    //Dialogue Message
                        dialog.kendoDialog({
                            width: "300px",
                            title: "Record Exist",
                            closable: false,
                            modal: true,
                            content: "<p>Workplan already exist. Please check 'Draft' or 'Approved' Workplans <p>",
                            actions: [
                                { text: 'OK' }
                            ],
                            close: onClose
                        });

                        dialog.data("kendoDialog").open();
                        undo.fadeOut();
                }
                else if(response == "norecord")
                {
                    window.location.href = "/NEPADStaff/ManageWorkplansDraft?divid=" + divid + "&progid=" + progid + "&projid=" + projid + "&yearid=" + yearid+"&periodid=" + periodid +"&periodtxt=" + d.sender.text();

                }

            },
            error: function (data) {
                        
            }
        })
        





        
    }




}


</script>