@model EmployeeViewModel
@{
    ViewBag.Title = "AUDA-NEPAD Integrated Planning System";
    Layout = "_NEPADStaffLayout2";

}



<h1 style="font-family: Faktslab;">AUC MTP Mappings</h1>
<div class="separator-breadcrumb border-top"></div>


<div class="row">
    <div class="col-md-12">
        <div class="card mb-5">
            <div class="card-body">
                <div class="card-title mb-3">MTP Mappings</div>

                <form id="addformmain">
                <input hidden asp-for="IdentityUserId" class="k-textbox" style="width:100%" value="@Model.IdentityUserId">
                    <input hidden asp-for="Employee_Id" class="k-textbox" style="width:100%" value="@Model.Id">

                    <div class="form-group row" style="padding-right: 1.25rem; padding-left: 1.25rem; padding-top: 1.25rem; padding-bottom: 0.25rem;">
                    @(Html.Kendo().DropDownList()
                                    .Name("MTP_Id")
                                    .HtmlAttributes(new { style = "width:60%" })
                                    .OptionLabel("Select MTP Priority...")
                                    .DataTextField("DropDown_Name")
                                    .DataValueField("DropDown_IntId")
                                    .Events(e =>
                                    {
                                        e.Close("onDropDownChange");
                                    })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetAllTransMTPPriorities", "Admin");
                                        });
                                    })
                                    // .SelectedIndex(Model.Directorate_Id)
                    )
                  
                    </div>
                    <div class="form-group row" style="padding-right: 1.25rem; padding-left: 1.25rem; padding-bottom: 0.25rem;">
                        @(Html.Kendo().DropDownListFor(model => model.Priority_Id)
                                            // .Name("Department_Id")
                                            .HtmlAttributes(new { style = "width:60%", id = "Priority_Id" })
                                            .OptionLabel("Select AUDA-NEPAD Priority...")
                                            .DataTextField("DropDown_Name")
                                            .DataValueField("DropDown_IntId")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                        read.Action("GetTransStrategicPriorities", "Admin")
                                                        .Data("filterProducts");
                                                })
                                                .ServerFiltering(true);
                                            })
                                            .Enable(false)
                                            .AutoBind(false)
                                            .CascadeFrom("MTP_Id")
                                            //.SelectedIndex(Model.Department_Id)
                        )
                        <script>function filterProducts() {
                                return {
                                    mtp_ident: $("#MTP_Id").val()
                                };
                            }</script>

                        &nbsp; &nbsp;

                        <a class="k-button " id="btnAdd" style="color: #003f59;">
                                        <span class="k-icon k-i-plus-outline"></span> Map AUDA-NEPAD Priority
                        </a>

                    </div>
                    <div class="form-group row" style="padding-right: 1.25rem; padding-left: 1.25rem; padding-bottom: 1.25rem;">
                          
                        @(Html.Kendo().Grid<StrategyPriorityViewModel>()
                                        .Name("grid")
                                        .Columns(columns =>
                                        {

                                            columns.Bound(c => c.Priority_Id).Hidden();
                                            columns.Bound(c => c.MTPPriority_Id).Hidden();
                                            columns.Bound(c => c.Transaction_Id).Hidden();
                                            columns.Bound(c => c.Priority_Name).Title("AUDA-NEPAD Strategic Priority");
                                            columns.Bound(c => c.TransactionDate).Title("Transaction Date").Format("{0: dd-MM-yyyy}");
                                            columns.Command(command => { command.Destroy().Text(" Delete").IconClass("k-icon k-i-delete"); });
                                        })
                                        .HtmlAttributes(new { style = "height: 400px;" })
                                        .Scrollable()
                                        .Groupable()
                                        .Sortable()
                                        .Navigatable()
                                        .Filterable()
                                        .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(5))
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Sort(sort => sort.Add("Priority_Name").Ascending())
                                            .Read(read => read
                                                            .Action("MTPPriorityMapping_Read", "Admin"))
                                            .Model(model => model.Id(p => p.Transaction_Id))
                                            .Destroy(destroy => destroy.Action("Strategy_MTPStrategyMapping_Delete", "Admin"))
                                            .PageSize(20)
                                            .Events(events => events.Error("error_handler")
                                                                .RequestEnd("onRequestEnd"))
                                        )
                                    )
                    </div>

        
                    
                </form>
            </div>
        </div>
    </div>
</div>




<br \>
<br \>
<br \>


<div id="getstaffwindow">
</div>
<div id="windowstaff"></div>
<div id="staffposwindow">
</div>
<div id="windowstaffpos">
</div>

<div id="example">
    <div id="dialog">
    </div>
    <div id="undo">
    </div>
</div>









<script type="text/javascript"> 
    function error_handler(e) {    
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });        
            alert(message);
        }
    }

    function onRequestEnd(e){
            var recid = $("#MTP_Id").val();  
            if (e.type === "update" || e.type === "create" || e.type === "destroy" ) {
               
                var grid = $("#grid").data("kendoGrid"); 

                grid.dataSource.transport.options.read.url = "/Admin/MTPPriorityMapping_Read/?recid=" + recid;
                grid.dataSource.read();
            }
    }
    
    function onDropDownChange()  
    {  
        var recid = $("#MTP_Id").val();  
        var grid = $("#grid").data("kendoGrid"); 

        grid.dataSource.transport.options.read.url = "/Admin/MTPPriorityMapping_Read/?recid=" + recid;
        grid.dataSource.read();

    }




   $("#btnAdd").click(function () {

 // e.preventDefault();
        var mtpid = $("#MTP_Id").val();  
        var priorityid = $("#Priority_Id").val(); 


        var dialog = $('#dialog');
        var undo = $("#undo");

        function onClose() {
            undo.fadeIn();
        }

        if(mtpid === "" && typeof mtpid === "string")
        {
              dialog.kendoDialog({
                  width: "300px",
                  title: "No Selection",
                  closable: false,
                  modal: true,
                  content: "<p>Please select <strong>MTP Priority</strong><p>",
                  actions: [
                      { text: 'Cancel' }
                  ],
                  close: onClose
              });

              dialog.data("kendoDialog").open();
              undo.fadeOut();
        }
        else if (priorityid === "" && typeof priorityid === "string")
        {
              dialog.kendoDialog({
                  width: "300px",
                  title: "No Selection",
                  closable: false,
                  modal: true,
                  content: "<p>Please select <strong>AUDA-NEPAD Priority</strong><p>",
                  actions: [
                      { text: 'Cancel' }
                  ],
                  close: onClose
              });

              dialog.data("kendoDialog").open();
              undo.fadeOut();
        }
        else{
            $.ajax({
                type: "POST",
                url: '/Admin/MappMTPAUDAPriority',     //your action
                data: $('#addformmain').serialize(),   //your form name.it takes all the values of model
               // data: { "dirid": dirid, "empid": empid, "primaryid": primaryid},   //your form name.it takes all the values of model
                dataType: 'json',
                success: function (result) {
                    var response = result.rtnmsg;

                    if (response == "success") {

                                var grid = $("#grid").data("kendoGrid"); 

                                grid.dataSource.transport.options.read.url = "/Admin/MTPPriorityMapping_Read/?recid=" + mtpid;
                                grid.dataSource.read();
                                grid.refresh();

                    }
                    else if (response == "alreadyexist") {
                                dialog.kendoDialog({
                                    width: "300px",
                                    title: "Already Exist",
                                    closable: false,
                                    modal: true,
                                    content: "<p>Mapping Aready Exist.<p>",
                                    actions: [
                                        { text: 'Cancel' }
                                    ],
                                    close: onClose
                                });

                                dialog.data("kendoDialog").open();
                                undo.fadeOut();
                    }
                    else {

                                dialog.kendoDialog({
                                    width: "300px",
                                    title: "Error",
                                    closable: false,
                                    modal: true,
                                    content: "<p>Error: Please try Again<p>",
                                    actions: [
                                        { text: 'Cancel' }
                                    ],
                                    close: onClose
                                });

                                dialog.data("kendoDialog").open();
                                undo.fadeOut();
                    }

                },
                error: function (data) {
                                dialog.kendoDialog({
                                    width: "300px",
                                    title: "Error",
                                    closable: false,
                                    modal: true,
                                    content: "<p>Error Occurred whiles saving<p>",
                                    actions: [
                                        { text: 'Cancel' }
                                    ],
                                    close: onClose
                                });

                                dialog.data("kendoDialog").open();
                                undo.fadeOut();
                }
            })
        }
        return false;

   });
</script>


<style>
    /* Page Template for the exported PDF */
    .page-template {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            color: #888;
        }

        .page-template .footer {
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
            border-top: 1px solid #888;
            text-align: center;
            color: #888;
        }

        .page-template .watermark {
            font-weight: bold;
            font-size: 400%;
            text-align: center;
            margin-top: 30%;
            color: #aaaaaa;
            opacity: 0.1;
            transform: rotate(-35deg) scale(1.7, 1.5);
        }

    /* Content styling */
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

<style>

/*SWITCH ON*/

    .k-switch-on .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }

    .k-switch-on:hover .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:hover .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:active .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4
    }

    .k-switch-on:active .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }



    .k-switch-on:visited .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:visited .k-switch-handle{
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:focus .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:focus .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }




    /*SWITCH OFF*/

    .k-switch-off .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



    .k-switch-off:hover .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:hover .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:active .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:active .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:visited .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:visited .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }

    .k-switch-off:focus .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:focus .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



</style>